<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
    <link rel="stylesheet" type="text/css" href="/public/mediaqueries/applePlus.css" media="screen and (min-width:375px)"/>
    <link rel="stylesheet" type="text/css" href="/public/mediaqueries/desktop.css" media="screen and (min-width:1400px)"/>

</head>

<body>
    <div class="navbar" id="navbar">
        <table class="tables_contact">
            <tr class="contacts_tr">
                <td>
                    <a href="https://github.com/Jesus369" target="_blank">
                        <img class="contact_img" src="contactme/github2.png" />
                    </a>
                </td>
                <td>
                    <a href="https://www.linkedin.com/in/jesus-flores-b5875359/" target="_blank">
                        <img class="contact_img" src="contactme/linkedin2.png" />
                    </a>
                </td>
                <td>
                    <a href="mailto:je.flores28@gmail.com">
                        <img class="contact_img" src="contactme/gmail2.png" />
                    </a>
                </td>
            </tr>
        </table>
    </div>


            
    <div class="about_me">
        <img class="self_img" id="self_img" src="contactme/me.png" />
        <div class="summary">
            <div class="info_options">
                <li class="info_option">Short Bio</li>
                <li class="info_option">Hobbies</li>
                <li class="info_option">Interests</li>
            </div>
            <div class="about_me_text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </div>
        </div>
        <img class="contributions" src="https://ghchart.rshah.org/Jesus369" />
    </div>

    <div class="select_render">
        <li class="render_option" id="projects">Projects</li>
        <div class="line"></div>
        <li class="render_option" id="strengths">Strengths</li>
    </div>

    <div class="rendering_pages"> 
        <div class="render_projects" id="render_projects">
            <div class="the_works">
                <div class="explore_txt">Explore My Work</div>
                <div class="underline3"></div>
            </div>

            <div class="project">
                <img class="project_img" src="projectimgs/pokebase.png" />
                <div class="t_and_cc_container">
                    <div class="select_code">
                        <li class="code_type" id="html">HTML</li>
                        <li class="code_type" id="css">CSS</li>
                        <li class="code_type" id="script">Script</li>
                    </div>
                    <div class="code_container" id="code">
                        <code class="code">
                            const mustacheExpress = require('mustache-express')<br>const session  = require('express-session')<br>const bodyParser = require('body-parser')<br>const models = require('./models')<br>const express = require('express')<br>const multer = require('multer')<br>const app = express()<br><br>app.use(bodyParser.urlencoded({extended:false}))<br>
                            app.use('/contactme', express.static('contactme'))<br>app.use('/projectimgs', express.static('projectimgs'))<br>app.use('/strengthimages', express.static('strengthimages'))<br>app.use('/public', express.static('public'))<br>app.engine('mustache', mustacheExpress())<br>app.set('view engine', 'mustache')<br>app.set('views', './views')<br><br>
                            const storage = multer.diskStorage({<br>destination : './uploads/',<br>filename : ( (req,file,cb) => {<br>cb(null, file,fieldname + '-' + Date.now() + path.extname(file.originalname))<br>})<br>})<br><br>const upload = multer({<br>storage : storage<br>})<br><br>app.use(session({<br>secret : 'fastmonkeys369',<br>resave : 'false',<br>saveUninitialized : true<br>
                            }))<br><br>app.get('/', (req,res) => {<br>res.render('homepage', {username : req.session.username})<br>})<br><br>app.get('/register', (req,res) => {<br>res.render('registeruser')<br>})<br><br>app.get('/login', (req,res) => {<br>res.render('loginuser')<br>})<br><br>app.get('/blog', (req,res) => {<br>res.send('Blog Page')<br>
                            })<br><br>app.get('/newblog', (req,res) => {<br>if(req.session.username) {<br>res.render('newblog')<br>} else {<br>res.redirect('/')<br>}<br>})<br><br>app.get("/contact", (req,res) => {<br>res.send('Contact Page')<br>})<br><br>app.post('/register', (req,res) => {<br>models.user.create({<br>username: req.body.username,<br>
                            password: req.body.password,<br>firstname: req.body.firstname,<br>lastname: req.body.lastname<br>}).then(() => {<br>res.redirect('/')<br>})<br>})<br><br>app.post('/login', (req,res) => {<br>var user = models.user.findOne({<br>where:{<br>username : req.body.username,<br>password : req.body.password<br>}<br>}).then(user => {<br>
                            if(user.password === req.body.password) {<br>req.session.username = req.body.username<br>req.session.userId = user.dataValues.id<br>req.session.authenticated = true<br>res.redirect('/')<br>}<br>})<br>})<br><br>app.post('/blog', upload.single('postimg'), (req,res) => {<br>models.post.create({<br>title: req.body.title,<br>body: req.body.body,<br>author: req.body.author,<br>image: req.file.path<br>})<br>})<br><br>app.listen(3000, () => {<br>console.log('You are live')<br>})<br><br>
                        </code>
                    </div>
                </div>
            </div>
        </div>

        <div class="render_strengths" id="render_strengths">
            <div class="strengths">
                <div class="div_strength">
                    <label class="strengths_label">What I Know</label>
                    <div class="underline1"></div>
                    <label class="strengths_label">Languages</label>
                    <div class="strengths_ul">
                        <li class="strengths_li">
                            <img class="strength_image" src="strengthimages/python.png" />
                        </li>
                        <li class="strengths_li">
                            <img class="strength_image" src="strengthimages/JS.png" />
                        </li>
                        <li class="strengths_li">
                            <img class="strength_image" src="strengthimages/HTML.png" />
                        </li>
                        <li class="strengths_li">
                            <img class="strength_image" src="strengthimages/css.png" />
                        </li>
                    </div>

                    <label class="strengths_label">Databases</label>
                    <div class="strengths_ul">
                        <li class="strengths_li">
                            <img class="strength_image" src="strengthimages/firebase.png" />
                        </li>
                        <li class="strengths_li">
                            <img class="strength_image" src="strengthimages/postgresql.png" />
                        </li>
                        <li class="strengths_li">
                            <img class="strength_image" src="strengthimages/mongodb.png" />
                        </li>
                    </div>

                    <label class="strengths_label">Frameworks</label>
                    <div class="strengths_ul">
                        <li class="strengths_li">
                            <img class="strength_image" src="strengthimages/nodejs.png" />
                        </li>
                    </div>

                    <label class="strengths_label">Libraries</label>
                    <div class="strengths_ul">
                        <li class="strengths_li">
                            <img class="strength_image" src="strengthimages/jquery.png" />
                        </li>
                        <li class="strengths_li">
                            <img class="strength_image" src="strengthimages/sass.png" />
                        </li>
                        <li class="strengths_li">
                            <img class="strength_image" src="strengthimages/bootstrap.png" />
                        </li>
                    </div>
                </div>

                <!-- Currently Learning -->
                <div class="div_strength">
                    <label class="strengths_label">Currently Learning</label>
                    <div class="underline2"></div>
                    <label class="strengths_label">Frameworks</label>
                    <div class="strengths_ul">
                        <li class="strengths_li">
                            <img class="strength_image" src="strengthimages/react.png" />
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <div class="footer"></div>

</body>
<script src="/public/jquery-3.2.1.min.js"></script>
<script src="/public/script.js"></script>

</html>