body {
  background-color: #fcfdfe;
  width: 100%;
  margin: 0;
  padding: 0;
}
/*90AFC5*/
.navbar {
  background-color: #00293c;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
  position: fixed;
  padding: 1em;
  width: 100%;
  z-index: 100;
}

.current_page {
  color: white;
  font-family: "Lucida Grande";
  margin: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: auto;
  margin-left: 75%;
  z-index: 500;
}

.nav_option {
  margin-left: 1em;
}

.nav_link {
  color: white;
  font-family: "Lucida Grande";
  text-decoration: none;
}

/*Header image*/
.header_img_div {
  background-color: #336b87;
  position: relative;
}

.intro_text {
  font-family: "Tahoma";
  font-size: 4em;
  margin: 0 auto 0 auto;
  position: absolute;
  z-index: 0;
  top: 4em;
  left: 23%;
  opacity: 2;
}

.headerimg {
  height: 40em;
  width: 100%;
  opacity: .6;
  display: block;
}

/* Strengths Container*/
.strengths {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10em;
}

.div_strength {
  border: 1px solid #f62a00;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  text-align: center;
  margin-right: 1em;
  width: 40%;
}

.strength_image {
  height: 80px;
  width: 80px;
}

.strengths_label {
  font-size: 1.3em;
  font-family: "Lucida Grande";
  margin-top: .5em;
}

.strengths_ul {
  display: flex;
  flex-direction: row;
  font-family: "Didot";
  list-style-type: none;
  justify-content: center;
  margin: 0;
}

.strengths_li {
  display: flex;
  flex-direction: column;
  padding: .5em;
  text-align: center;
}

.explore_txt {
  font-family: "Times New Roman";
  font-size: 2em;
  text-align: center;
}

/*The Works*/

.the_works {
  background-color: #1e656d;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  padding: 2em;
}

.how_its_done {
  display: flex;
  flex-direction: row;
  margin: 0 auto 0 auto;
  padding: 1em;
  width: 90%;
}

.project_img {
  height: 23.35em;
  width: 50%;
  image-rendering: auto;
  image-rendering: crisp-edges;
}

.t_and_cc_container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.select_code {
  background-color: #2a3132;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.code_type {
  background-color: #cdcdc0;
  border: .5px solid #f62a00;
  margin-left: .5%;
  padding: .5em;
}

.code_container {
  background-color: #eeeeff;
  height: 20em;
  overflow: scroll;
  padding: .5em;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*Contributions*/
.divs_contributions {
  display: flex;
  flex-direction: row;
  padding: 4em;
}

.contributions {
  margin-left: 15em;
  width: 35em;
}

.cont_msg {
  font-family: "Geneva";
  font-size: 1.5em;
  margin: 2em 0 0 5em;
}

/*Footer*/
.footer {
  background-color: #00293c;
  color: white;
  font-size: 1.1em;
  padding: .7em;
  text-align: center;
}

.tables_contact {
  margin: 0 auto 0 auto;
}

.contact_img {
  height: 2em;
  width: 2em;
}
